.form-container{
    grid-area: B;
}

form{
    margin-top: 2.62rem;

    & h2{
        font: var(--label-medium);
        color: var(--content-primary);
        text-transform: uppercase;
    }

    & p{
        margin-top: 2px;

        font: var(--paragraph-medium);
        color: var(--content-tertiary);
    }
}

.fields{
    position: relative;
    margin-top: 2.5rem;
    display: flex;
    gap: .75rem;

    & div{
        height: 5.5rem;
        display: flex;
        flex-direction: column-reverse;
        gap: .25rem;
        align-items: center;
    }

    & label{
        font: var(--label-medium);
        color: var(--content-secondary);
        text-transform: uppercase;
        transition: color 0.3s ease;

        &:hover{
            color: var(--content-brand);
        }
    }

    .input-wrapper {
        border-radius: 10px;
        padding: 2px; // espaço para a borda gradiente
        background: transparent;
        transition: background 0.3s ease;
    
        & input {
            width: 100%;
            height: 100%;
            background-color: var(--background-secondary);
            padding: .25rem .5rem;
            text-align: center;
            font: var(--display-small);
            color: var(--content-primary);
            border: none;
            border-radius: .5rem;
            text-align: center;
            outline: none;
        }

        &:hover,
        &:focus-within {
          background: var(--gradient-border);
        }

        &:hover + label,
        &:focus-within + label {
          color: var(--content-brand);
        }
    }
}

.repeat-container{
    margin-top: 1.25rem;
    display: flex;
    gap: .5rem;

    & .input-wrapper{
        width: 2.3rem;
    }

    & input{
        all: unset;
        position: relative;
        appearance: none;
    }

    & .btn-repeat{
        display: inline-block;
        position: relative;
        cursor: pointer;
    }

    & .btn-repeat::before,
    & .btn-repeat::after{
        content: "";
    }

    & .btn-repeat::before{
        position: absolute;
        display: inline-block;
        width: 1.875rem;
        height: 1.25rem;
        background-color: var(--content-tertiary);
        border-radius: 1rem;
        padding: 1px;
    }

    & .btn-repeat::after{
        position: relative;
        display: inline-block;
        width: 1rem;
        height: 1rem;
        margin: 3px 3px;
        border-radius: 100%;
        background-color: var(--content-primary);
    }

    input:checked + .btn-repeat::before{
        background: var(--gradient-background);
    }
    
    input:checked + .btn-repeat::after{
        left: .6125rem;
    }

    .text-btn{
        font: var(--paragraph-small);
        color: var(--content-primary);
        align-content: center;
    }
}

.animated-button {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    margin-top: 2.5rem;
    background-color: var(--background-tertiary);
    font: var(--label-medium);
    text-transform: uppercase;
    color: var(--content-primary);
    padding: 1rem;
    border: none;
    cursor: pointer;
    border-radius: .5rem;
    z-index: 1;
    overflow: hidden; /* importante para evitar vazamento da animação */

    &:hover{
        
        & img{
            animation: moveArrow 4s infinite ease-in-out;
        }
    }

}

.animated-button::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: var(--background-tertiary);
    border-radius: .5rem;
    z-index: -1;
}

.animated-button:hover:before{
    background: var(--gradient-border);
    background-size: 800% 800%; /* maior para dar movimento */
    animation: borderAnimated 6s ease infinite; /* animação contínua */
}

.animated-button::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background: var(--background-tertiary);
    border-radius: .5rem;
    z-index: -1;
}

.animated-button:hover::after {
    background-color: var(--background-secondary);
}

/* PARA TIRAR A SETINHA DE ADICIONAR E RETIRAR NUMEROS DO INPUT.
/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    /* Firefox */
    -moz-appearance: textfield;
}

@keyframes borderAnimated {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes moveArrow {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(8px); /* vai um pouco pra direita */
    }
    100% {
        transform: translateX(0); /* volta */
    }
}

@media (width >=1200px){
    .form-container{
        width: 30rem;
    }
}
