header{
    grid-area: A;
    gap: .5rem;

    margin-top: 2.875rem;

    & h3{
        font: var(--overline);
        background-image: var(--gradient-content) ;
        background-clip: text;
        --webkit-background-clip: text;
        color: transparent;
        text-transform: uppercase;
    }

    & h1{
        font: var(--display-medium);
        color: var(--content-primary);
        text-transform: uppercase;
    }
}

@media (width >= 1200px){
    header{
        margin-top: 5.56rem;
        width: 31.77rem;
        height: min-content ;

        & h1{
            font: var(--display-large);
        }
    }
}